# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# eslint
.eslintcache

# misc
.DS_Store
*.log

# IDE
.vscode
.idea
*.swp
*.swo

# build outputs
dist
.next
out
build

# Environment variables (keep secrets safe!)
.env
.env.local
.env*.local
.env.production.local
.env.development.local

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Testing
coverage

# OS
Thumbs.db
